*.o
*.a
*.so
bin/metrics-capacitor
.image*
!src/
src/*
!src/github.com
src/github.com/*
!src/github.com/metrics-capacitor
src/github.com/metrics-capacitor/*
!src/github.com/metrics-capacitor/metrics-capacitor
